<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="login-container">
        <img src="/static/images/wayneLogo.png" alt="Wayne Industries Logo" class="wayne-logo">
        <form class="login-form" method="POST">
            <input type="text" name="username" class="login-input" placeholder="Usuário" required>
            <input type="password" name="password" class="login-input" placeholder="Senha" required>
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
</body>
</html>
